{% extends 'base.html' %}
{% load static %}

{% block defaulttitle %}
<h1>Partners</h1>
<hr>
{% endblock defaulttitle %}

{% block default %}
<style>
    .customimg {
        /* max-height: 200px; */
        /* height: 70%; */
        /* width: auto; */
        max-width: 150px;
        height: auto;
    }
</style>

  <div class="row">
    <div class="col-2">
      <img src="{% static 'images/partners/Swapan.jpg' %}" alt="" class='img-thumbnail customimg'>
    </div>
    <div class="col-10">
      <h5>CA Swapan Kumar Basuchaudhuri</h5>
      <h6>B COM, M COM, FCA Experience : 28 years</h6>
      <p>Mr. Basuchaudhuri has been the torch bearer of the firm for the last 28 years and has expertise in the fields of Statutory Audit, Internal Audit, Income Tax and compliances . He has been regularly representing the clients appearing before government authorities both regulatory and taxation authorities.</p>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-2">
      <img src="{% static 'images/partners/Paresh.jpg' %}" alt="" class='img-thumbnail customimg'>
    </div>
    <div class="col-10">
      <h5>CA Paresh Chandra Jana</h5>
      <h6>B SC, FCA, DISA Experience : 26 years</h6>
      <p>Worked as a Senior Manager Finance in WBSEDCL (A premium Government Sector Power Distribution company). Expert in Budgeting, Finalization of Accounts, Monthly Cash Flow, Income tax, Audits and other assignments. Extensive experience in Audit Finalization Pvt. Ltd. Cos, Revenue Audits of branches of nationalized banks.</p>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-2">
      <img src="{% static 'images/partners/Debayan.jpg' %}" alt="" class='img-thumbnail customimg'>
    </div>
    <div class="col-10 mb-4">
      <h5>CA Debayan Patra</h5>
      <h6>B COM, FCA Experience : 8 years</h6>
      <!-- <p>Expert in the field of Audit and Taxation with major exposure in Transport, Leather Manufacturing, Trading and Exports, FMCG and Polymers Industry. He has extensive exposure in conversion of Financial Statements from GAAP to BAS  and Statutory Audits for Companies in Bhutan.</p> -->
        <p>Mr. Patra, FCA has graduated from St. Xavier's College, is a qualified Certified Financial Planner, has completed Cert. Course on Concurrent Audit of Banks (ICAI), Cert. Course on Forensic Accounting & Fraud Prevention (ICAI) and is a Registered Valuer for Securities or Financial Assets (IBBI). He has 8 and half years post qualification experience in the field of Audit and Taxation with major exposure in Transport, Leather Manufacturing, Trading and Exports, FMCG, Polymers Industry. International Exposure : a) Converted the Financial Statements from GAAP to BAS for SME of Army Welfare Project, Bhutan (2014 & 2015) and Quality Gases Pvt Ltd, Bhutan (2015). b) Conducted Statutory Audit of Dungsam Polymers Ltd, Bhutan for 2015 and 2016.
        </p>
    </div>
  </div>
<br>
  <div class="row mb-4">
    <div class="col-2">
      <img src="{% static 'images/partners/Ashok2.jpg' %}" alt="" class='img-thumbnail customimg'>
    </div>
    <div class="col-10">
      <h5>CA Ashok Mathur</h5>
      <h6>B COM, FCA with 40 years of experience</h6>
      <!-- <p>More than 40 Years of work Experience. Well versed with managing Accounts/ Finance in a wide spectrum including Auditing, Budget Planning, Statutory Audit, Quality Compliance, Tax Audits, Bank Audits & of Internal Auditors, Florida, USA. (1981). relationship Management. Was successfully associated with many companies at senior positions.</p> -->
    <p>Mr Mathur has more than 40 years experience. He is well versed with managing Accounts, Finance, Taxation, Budgetary Planning & Control, handling Internal Audit, Statutory Audit, Tax Audit and Relationship Management. He was successfully associated with well known companies at Senior Positions.</p>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-2">
      <img src="{% static 'images/partners/Arindam.jpg' %}" alt="" class='img-thumbnail customimg'>
    </div>
    <div class="col-10">
      <h5>CA Arindam Sengupta</h5>
      <h6>B COM(Hons), FCA ,Grad CWA Experience : 26 years</h6>
      <p> He has got more than 26 years of experience in financial services , treasury ,outsourced operations and automation of financial processes .He has catered to several international clients during his professional career and has extensive exposure in the areas of Banking and Financial services. He has extensive experience in the power generation and distribution sector .
          He has served as Vice President in a reputed Business Process Outsourcing company ,subsidiary of a US company in the healthcare domain  and as a Chief Executive Officer of an Indian startup in the IT & Financial services sector. A Certified Six  Sigma Professional , Certified Process Professional and an Insolvency Professional , he has successfully implemented several projects successfully during his professional career.
      </p>
    </div>
  </div>

  <br>
<!--
  <div class="row">
    <div class="col-2">
      <img src="{% static 'images/partners/Ritu.jpg' %}" alt="" class='img-thumbnail customimg'>
    </div>
    <div class="col-10">
      <h5>CA Ritu Madan</h5>
      <h6>B COM, FCA Experience : 25 years</h6>
      <p> Ritu Madan is a Chartered Accountant and a Business Management Graduate from XLRI, Jamshedpur. She has enormous expertise in the areas of banking , treasury, taxation, joint ventures and subsidiaries, logistics and operations management.
          She had worked with PWC, Centurion Bank and 3i Infotech during the early phase of her career. She was the CFO-Indian Operations of Federal Express Corporation and Director Financial Operations in Resources India, a Publicis Groupe’ SA Co .
          She brings with her 25+ years of experience in the areas of logistics, commercial management and banking enabling the firm to develop into a formidable force in the Corporate consultancy  arena.
      </p>
    </div>
  </div>

  <br>

     <div class="row">
        <div class="col-2">
            <img src="{% static 'images/partners/Vishal.jpg' %}" alt="" class='img-thumbnail customimg'>
        </div>
        <div class="col-10">
        <h5>CA Vishal Kumar Singh</h5>
        <h6>B COM, ACA Experience : 4 years</h6>
        <p>Mr. Singh is B. Com (H), ACA and successfully completed Training on Diploma in Information Systems Audit (DISA) & Certificate Course on Concurrent Audit of Banks (CCA) by the Institute of Chartered Accountants of India (ICAI). He has worked as a Team Leader in “RSM India”, The India’s top six Accounting and Consulting Groups having Global presence. He has been conducting Statutory & Tax audit, Internal audit of large & medium scale Limited Companies, Carrying out Bank Audits and providing services in the field of Accounts, Income Tax & Company Law matters.</p>
        </div>
    </div>
<br>
-->

    <div class="row">
      <div class="col-2">
        <img src="{% static 'images/partners/Mohit.jpg' %}" alt="" class='img-thumbnail customimg'>
      </div>
      <div class="col-10">
        <h5>CA Mohit Sareen</h5>
        <h6>B COM, FCA, DISA , Cert. in Anti-Money Laundering Laws (ICAI), Cert. in Forensic Accounting & Fraud Prevention (ICAI), Certified Anti-Money Laundering Expert (India Forensic), Cert. in Forensic Accounting & Fraud Examination (West Virginia University, USA). Faculty in the EIRC of ICAI Experience : 8 years</h6>
        <p>Expert in Internal Audit, Forensic Audits, IS Audits, Fraud Investigation, Anti-Money Laundering. He also has experience of working with various Government agencies.</p>
      </div>
    </div>

  </div>

{% endblock default %}
