
<div class="container">
    <div class="text-center my-4">
      <h1>Our Services</h1>
    </div>

    <div class="my-4">
      <div class="row">
          <div class="col-md-4 col-sm-6 mb-4 text-center">
              <div class="panel border p-4">
                  <span class="icon text-secondary"><i class="fas fa-file-invoice-dollar fa-3x"></i></span>
                   <h4 class="font-ram py-4">Accounting Services</h4>
                  <p class="font-ram font-size-16 text-black-50">We provide services related to Accounting System Design & Implementation, Financial Accounting, Budgeting,</p>
                  <a href="{% url 'accounting_services' %}" class="btn btn-outline-secondary">Read More</a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 text-center">
              <div class="panel border p-4">
                  <span class="icon text-secondary"><i class="fas fa-check-square fa-3x"></i></span>
                   <h4 class="font-ram py-4">Audit & Assurance</h4>
                  <p class="font-ram font-size-16 text-black-50">Our Assurance practice provides high quality, independent audit services that transcends beyond conventional financial reporting.</p>
                  <a href="{% url 'audit_assurance' %}" class="btn btn-outline-secondary">Read More</a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 text-center">
              <div class="panel border p-4">
                  <span class="icon text-secondary"><i class="fas fa-money-check-alt fa-3x"></i></span>
                   <h4 class="font-ram py-4">Corporate Finance</h4>
                  <p class="font-ram font-size-16 text-black-50">We provide services related to Preparations of Project Reports, Preparation of CMA data for bank loans,</p>
                  <a href="{% url 'corporate_finance' %}" class="btn btn-outline-secondary">Read More</a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 text-center">
              <div class="panel border p-4">
                  <span class="icon text-secondary"><i class="fas fa-clipboard-check fa-3x"></i></span>
                   <h4 class="font-ram py-4">Risk Advisory</h4>
                  <p class="font-ram font-size-16 text-black-50">We help you to view uncertainty and risk in the right perspective such that you are agile enough to anticipate better, </p>
                  <a href="{% url 'risk_advisory' %}" class="btn btn-outline-secondary">Read More</a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 text-center">
              <div class="panel border p-4">
                  <span class="icon text-secondary"><i class="fas fa-fax fa-3x"></i></span>
                   <h4 class="font-ram py-4">Corporate Advisory</h4>
                  <p class="font-ram font-size-16 text-black-50">Our value-added offerings of various Advisory services include Accounting, Financial, Transaction, Data Analytics,</p>
                  <a href="{% url 'corporate_advisory' %}" class="btn btn-outline-secondary">Read More</a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6  mb-4 text-center">
              <div class="panel border p-4">
                  <span class="icon text-secondary"><i class="fas fa-clipboard-list fa-3x"></i></span>
                   <h4 class="font-ram py-4">Tax Advisory</h4>
                  <p class="font-ram font-size-16 text-black-50">Businesses increasingly find it difficult to keep up to the myriad and abstruse taxation system.</p>
                  <a href="{% url 'tax_advisory' %}" class="btn btn-outline-secondary">Read More</a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 text-center">
              <div class="panel border p-4">
                  <span class="icon text-secondary"><i class="fas fa-piggy-bank fa-3x"></i></span>
                   <h4 class="font-ram py-4">Payroll</h4>
                  <p class="font-ram font-size-16 text-black-50">We provide services related to preparation of Monthly Salary Sheet,
    Deductions as per applicable laws like Income Tax, Provident Fund, Professional Tax etc.</p>
                  <a href="{% url 'payroll' %}" class="btn btn-outline-secondary">Read More</a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 text-center">
              <div class="panel border p-4">
                  <span class="icon text-secondary"><i class="fas fa-share fa-3x"></i></span>
                   <h4 class="font-ram py-4">Outsourcing</h4>
                  <p class="font-ram font-size-16 text-black-50">We provide services related to Enables business to concentrate on core business activities, Use of manpower for more important functions</p>
                  <a href="{% url 'outsourcing' %}" class="btn btn-outline-secondary">Read More</a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6  mb-4 text-center">
              <div class="panel border p-4">
                  <span class="icon text-secondary"><i class="far fa-list-alt fa-3x"></i></span>
                   <h4 class="font-ram py-4">Secretarial Services</h4>
                  <p class="font-ram font-size-16 text-black-50">We have given Secretarial services a totally new perspective in the corporate world.</p>
                  <a href="{% url 'secretarial_services' %}" class="btn btn-outline-secondary">Read More</a>
              </div>
          </div>
      </div>
    </div>

</div>
