{% extends 'base.html' %}
{% load static %}


{% block defaulttitle %}
  <h1>Accounting Services</h1>
  <hr>
{% endblock defaulttitle %}

{% block mainimage %}
  <img src="{% static 'images\services\Accounting_Services1.jpg' %}" alt="" class="img-thumbnail ">
{% endblock mainimage %}

{% block defaulttext %}

  <ul>
    <li>Accounting System Design & Implementation</li>
    <li>Financial Accounting</li>
    <li>Budgeting</li>
    <li>Financial Reporting</li>
    <li>MIS Reports</li>
    <li>Financial Analysis</li>
    <li>Asset Accounting Management</li>
    <li>Depreciation and Amortization Schedules</li>
  </ul>

  <br><br><br><br><br><br>

{% endblock defaulttext %}
