{% extends 'base.html' %}
{% load static %}

{% block defaulttitle %}
  <h1>Audit Assurance</h1>
  <hr>
{% endblock defaulttitle %}

{% block mainimage %}
  <img src="{% static 'images\services\Audit_Assurance1.jpg' %}" alt="" class="img-thumbnail ">
{% endblock mainimage %}

{% block defaulttext %}
    <p>
      Our Assurance practice provides high quality, independent audit services that transcends beyond conventional financial reporting.
      <br><br>
      We invest time and efforts to understand client’s business and needs and identify the key drivers, risks and opportunities. A comprehensive second partner review of audit engagement helps to assure you of your business scenario.
      <br><br>
      Refined over years, we deploy robust audit methodologies and bring in decades of insightful experience. Our people are highly skilled and trained to understand the nitty-gritties of your business and handle complexities. We employ people development programs to stay abreast of key issues, global best practices and latest technical updates (be it Accounting Standards or government notifications).
      <br><br>
      Our independent opinions, strong competency, value-addition approach and partnership philosophy makes us highly respected by our clientele, who range from PSUs, listed companies to SMEs.
    </p>

    <ul>
      <li>Government/ PSU Audits</li>
      <li>Statutory Audits</li>
      <li>Tax Audits under Income Tax Law</li>
      <li>Tax Audits under GST Law</li>
      <li>Internal & Concurrent Audit</li>
      <li>Investigation Audits</li>
      <li>Information Systems Audit</li>
      <li>Certification Services</li>
    </ul>
{% endblock defaulttext %}
