{% extends 'base.html' %}
{% load static %}

{% block defaulttitle %}
  <h1>Corporate Finance</h1>
  <hr>
{% endblock defaulttitle %}

{% block mainimage %}
  <img src="{% static 'images\services\Corporate_Finance1.jpg' %}" alt="" class="img-thumbnail ">
{% endblock mainimage %}

{% block defaulttext %}

<ul>
  <li>Preparations of Project Reports</li>
  <li>Preparation of CMA data for bank loans</li>
  <li>Private placement of shares, Inter-Corporate Deposit, Terms loans, working capital limits, etc</li>
  <li>External Credit Borrowings (ECBs)</li>
</ul>

<br><br><br><br><br><br><br><br><br>

{% endblock defaulttext %}
