{% extends 'base.html' %}
{% load static %}

{% block defaulttitle %}
  <h1>Corporate Advisory</h1>
  <hr>
{% endblock defaulttitle %}

{% block mainimage %}
  <img src="{% static 'images\services\Corporate_Advisory1.jpg' %}" alt="" class="img-thumbnail ">
{% endblock mainimage %}

{% block defaulttext %}

  <p>Our value-added offerings of various Advisory services including Accounting, Financial, Transaction, Data Analytics, Corporate Advisory, Training and Management Consulting enable our clients to run their businesses ingeniously and benefit from astute insights generated.</p>

  <h5>Accounting Advisory</h5>
  <ul>
    <li>IFRS Accounting</li>
    <li>System study & design</li>
    <li>Supervising the Implementation of Accounting System</li>
    <li>Preparation of Accounting Manual</li>
  </ul>

  <h5>Transaction Advisory</h5>
  <p>We help our clients to successfully complete transactions, by helping them identify right potential targets/ investors, conducting due diligence, mapping out transaction roadmap and executing M&A process.</p>

  <h5>Corporate Advisory</h5>
  <ul>
    <li>Corporate Laws</li>
    <li>Negotiable Instruments</li>
    <li>Commercial Laws</li>
    <li>Banking Laws</li>
  </ul>

  <h5>Training</h5>
  <ul>
    <li>Explaining the concepts & Accounting Standards</li>
    <li>Coaching in successful implementation of accounting system</li>
    <li>Preparation of Training Module</li>
  </ul>

  <h5>Management Consulting</h5>
  <ul>
    <li>Corporate Planning</li>
    <li>Business Transformation</li>
    <li>Competition Analysis</li>
    <li>Market study</li>
    <li>Feasibility study</li>
    <li>Cost Optimisation</li>
    <li>Performance improvement</li>
  </ul>

  <h5>Data Analytics</h5>

  <p>We help our clients in making business decisions with the help  data analytics reports created from their historical data.</p>

{% endblock defaulttext %}
