{% extends 'base.html' %}
{% load static %}

{% block defaulttitle %}
  <h1>Outsourcing</h1>
  <hr>
{% endblock defaulttitle %}

{% block mainimage %}
  <img src="{% static 'images\services\Outsourcing1.jpg' %}" alt="" class="img-thumbnail ">
{% endblock mainimage %}

{% block defaulttext %}

  <ul>
    <li>Enables business to concentrate on core business activities</li>
    <li>Use of manpower for more important functions</li>
    <li>Investment in fixed assets reduced/minimized</li>
    <li>Substantial savings in cost</li>
    <li>Services of experts made available</li>
    <li>Improved Internal Controls</li>
    <li>Enhanced reporting capabilities to provide more timely and accurate financial data</li>
    <li>Off-site Backup of Data</li>
  </ul>

  <br><br><br><br><br><br>

{% endblock defaulttext %}
