{% extends 'base.html' %}
{% load static %}

{% block defaulttitle %}
  <h1>Payroll</h1>
  <hr>
{% endblock defaulttitle %}

{% block mainimage %}
  <img src="{% static 'images\services\Payroll1.jpg' %}" alt="" class="img-thumbnail ">
{% endblock mainimage %}

{% block defaulttext %}

  <br>
  <ul>
    <li>Preparation of Monthly Salary Sheet</li>
    <li>Deductions as per applicable laws like Income Tax, Provident Fund, Professional Tax etc.</li>
    <li>Computation and deposit of TDS, ESI, PF etc.</li>
    <li>Disbursement/ Online Payment of Salary</li>
    <li>Pay slip by password protected e-mail</li>
    <li>Reimbursement of telephone, medical bills etc.</li>
    <li>Issue of Form 16 to employees</li>
    <li>Periodic Reconciliation of payments/statutory deductions etc. with books of accounts</li>
    <li>Administration of gratuity, superannuation, pension schemes etc.</li>
  </ul>
  <br><br>

{% endblock defaulttext %}
