{% extends 'base.html' %}
{% load static %}

{% block defaulttitle %}
  <h1>Secretarial Services</h1>
  <hr>
{% endblock defaulttitle %}

{% block mainimage %}
  <img src="{% static 'images\services\Secretarial_Services1.jpg' %}" alt="" class="img-thumbnail ">
{% endblock mainimage %}

{% block defaulttext %}

    <p>We have given Secretarial services  a totally new perspective in the corporate world. It just doesn’t comprise of filing and corresponding but also the compliance of statutory and legal issues which form the foundation of any company. We bridge the gap between the administrative and geographical inadequacies in a formation of the company as every state or a country have their own drafted plethora of rules and regulations. Corporate secretarial service stands as a supporting structure to the company’s compliance needs regardless of nature of the company as the company secretary is adept in handling all types of company.</p>
    <p>Our secretarial services:</p>

    <ul>
        <li>Ownership</li>
        <li>Company Law</li>
        <li>Corporate Governance</li>
        <li>Company Records</li>
        <li>Assurance</li>
    </ul>
{% endblock defaulttext %}
