{% extends 'base.html' %}
{% load static %}

{% block defaulttitle %}
  <h1>Tax Advisory</h1>
  <hr>
{% endblock defaulttitle %}

{% block mainimage %}
  <img src="{% static 'images\services\Tax_Advisory1.jpg' %}" alt="" class="img-thumbnail ">
{% endblock mainimage %}


{% block defaulttext %}

  <p>Businesses increasingly find it difficult to keep up to the myriad and abstruse taxation system. With growing impact of multiple and ever-changing tax jurisdictions, we help our clients to identify, minimise and manage the incidence of such taxes within the framework of applicable laws. We provide a comprehensive and practical Tax solutions emanating from our highly specialised and leading Indirect and Direct Tax practices. </p>


  <h5>Direct Taxes</h5>
  <h6>Income Tax - Corporate & Non-corporate</h6>
  <ul>
    <li> Providing advice on applicability of Income Tax </li>
    <li> Compliance review of Income Tax system </li>
    <li> Planning of tax incidence within applicable framework </li>
  </ul>


  <h5>Indirect Taxes</h5>
  <h6>Goods & Services Tax</h6>
  <ul>
    <li> Rendering of advice on applicability and levy of GST </li>
    <li> Compliance Review of the existing set up to advice on the effective systems & controls </li>
    <li> Tax audits under GST laws </li>
  </ul>

  <h5>Tax Planning, management and compliance services</h5>
  <h6></h6>
  <ul>
    <li>Tax structure that is sustainable in law</li>
    <li>Detailed analysis of accounting statement based on identified contingencies and provisions.</li>
    <li>Employees orientation on basic requirements of law</li>
    <li>Transaction structuring</li>
    <li>Documentations, Records & Systems integration and Compliance</li>
    <li>System set-up and training</li>
  </ul>

  <h5>Assessment proceedings, appeals and litigations</h5>
  <p>The team brings in skill sets in representing the case by way of providing end-to-end solutions from replying to show cause notices to representing before authorities. The expertise and experience of the team hand holds client in achieving its objectives. </p>




  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
{% endblock defaulttext %}
