{% extends 'base.html' %}
{% load static %}

{% block defaulttitle %}
  <h1>About Us</h1>
  <hr>
{% endblock defaulttitle %}

{% block mainimage %}
  <img src="{% static 'images\Team2.jpg' %}" alt="" class="img-thumbnail ">
{% endblock mainimage %}

{% block defaulttext %}

  <p> Founded in 1949, S N BANERJEA & CO. is a firm of Chartered Accountants providing Assurance, Taxation and Advisory services. Revered for our professional ethos and technical expertise, drawn on experience of over seven decades and a team of highly competent professionals, we provide effective solutions to our clients , running into deep engagements.
      <br><br>
      Our philosophy is of partnering with our clients and not being a distant service provider. Since businesses are inherently different, we tailor our services to meet clients’ specific needs and specialize in custom made solutions.
      <br><br>
      We recruit, train, motivate and retain highly capable and sharpest talents, who bring quality in their work and deliver the best solutions.
      <br><br>
      Headquartered in Kolkata with branches at Gurugram and Dhanbad, we have associate offices at various locations in India and leverage our state-of-art infrastructure, wide network, best practices and people development programs. Under the able direction of 8 partners, SNB’s team strength of over 30 people is uniquely positioned to provide you quality solutions and services. Our Interdisciplinary approach renders seamless value to our esteemed clients.
      <br><br>
      Serving to the wider business community since more than seven decades, we enjoy unparalleled reputation and respect of our clients, who trust and rely on us for our expertise and professionalism.
  </p>

{% endblock defaulttext %}
