{% extends 'base.html' %}
{% load static %}

{% block defaulttitle %}
  <h1>Contact Us</h1>
  <hr>
{% endblock defaulttitle %}

{% block mainimage %}

  <img src="{% static 'images/contact_us1.jpg' %}" alt="" class='img-fluid img-thumbnail' max-width='100%'>
{% endblock mainimage %}

{% block defaulttext %}
  <div class="row">
    <div class="col-6">
      <h5>Head Office</h5>
      <h6>Kolkata </h6>
      <p> 10, Old Post Office Street, <br>
          3rd Floor, Room No. 101,<br>
          Kolkata - 700 001 <br>
          Ph: 74 3936 9048/ 033 4602 1958 <br>
          E-mail: office@snbanerjea.com</p>
    </div>
    <div class="col-6">
      <h5>City Office</h5>
      <h6>Gurugram</h6>
      <p>Partner-in Charge : Ritu Madan <br>
        B 122,Belvedere Towers, Sector 24 , <br>
        Phase 24 ,Gurgaon -122022 <br>
        Ph : 8447548219 <br>
        Email:madan.ritu@snbanerjea.com</p>
    </div>
  </div>

  <br>
  <h5>Branches</h5>

  <div class="row">
    <div class="col-4">
      <h6>Gurugram</h6>
      <p> C- 1827 Sushant Lok, <br>
          Phase – 1 <br>
          Gurugram  - 122002 <br>
          Ph: 99 1118 5847</p>
    </div>
    <div class="col-4">
      <h6>Ulluberia</h6>
      <p> C/O - D. N. Patra <br>
          Nona Shibtala Nona Area <br>
          Uluberia - 711315 <br>
          Ph: +91 93 3101 6968</p>
    </div>
    <div class="col-4">
      <h6>Dhanbad</h6>
      <p> BM-26,Baludih,Post-Moonidih,Dhanbad,Jharkhand,<br>
          PIN-828129 <br>
          Ph: 74 3936 9048</p>
    </div>
  </div>


  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
{% endblock defaulttext %}
