{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Carousel -->

    {% include 'baseapp/home/carousel.html' %}

    <!-- Our Services -->
    {% include 'baseapp/home/ourservices.html' %}

    <!-- About Us -->

    <div class=" bg-light">
        <div class="container">

            <div class="text-center my-4 pt-4">
              <h3>About Us</h3>
            </div>

            <div class="row pb-4">
                <div class="col-8 ">
                  <p> Founded in 1949, S N BANERJEA & CO. is a firm of Chartered Accountants providing Assurance, Taxation and Advisory services. Revered for our professional ethos and technical expertise, drawn on experience of over seven decades and a team of highly competent professionals, we provide effective solutions to our clients , running into deep engagements.
                    <br><br>
                    Our philosophy is of partnering with our clients and not being a distant service provider. Since businesses are inherently different, we tailor our services to meet clients’ specific needs and specialize in custom made solutions. </p>
                  <a href="{% url 'about_us' %}" class="btn btn-outline-secondary">Read More</a>
                </div>
                <div class="col-4">
                  <img src="{% static 'images\Team1.jpg' %}" alt="" class="img-thumbnail ">
                </div>
            </div>

        </div>
      </div>

{% endblock content %}
