{% extends 'base.html' %}
{% load static %}

{% block defaulttitle %}
  <h1>Industries</h1>
  <hr>
{% endblock defaulttitle %}

{% block mainimage %}
{% endblock mainimage %}

{% block default %}

  <p>In our multi-disciplinary services, we have served across various industries and diverse verticals, thus generating deep insights of multifarious businesses and differences in economic, social, political and regulatory environments. This understanding helps us to tailor our solutions and cater to specific client requirements better. </p>

  <div class="row">
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/industries/banking.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Banking</h5>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/industries/textile.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Textile</h5>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/industries/retail.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Retail</h5>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/industries/FMCG.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">FMCG</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/industries/steel.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Steel & Metals</h5>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/industries/logistics.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Logistics</h5>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/industries/infrastructure.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Infrastructure & Realty</h5>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/industries/plastics.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Plastics</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/industries/paper.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Paper & Packaging</h5>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/industries/IT.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">IT</h5>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/industries/education.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Education</h5>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/industries/sugar.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sugar & Distillery</h5>
        </div>
      </div>
    </div>
  </div>

{% endblock default %}
